<div class="login-form-container">
    <h2>Login</h2>
    <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
      <div class="form-group">
        <label for="email">Email : </label>
        <input 
          type="email" 
          id="email" 
          name="email" 
          [(ngModel)]="loginObj.email" 
          required 
          #email="ngModel" 
          class="form-control"
        />
        <div *ngIf="email.invalid && email.touched" class="error">
          Email is required.
        </div>
      </div>
  
      <div class="form-group">
        <label for="password">Password : </label>
        <input 
          type="password" 
          id="password" 
          name="password" 
          [(ngModel)]="loginObj.password" 
          required 
          #password="ngModel" 
          class="form-control"
        />
        <div *ngIf="password.invalid && password.touched" class="error">
          Password is required.
        </div>
      </div>
  
      <button type="submit" [disabled]="loginForm.invalid" class="submit-btn">Login</button>
    </form>
  </div>
  